In [3]:
basics_url="https://datasets.imdbws.com/title.basics.tsv.gz"
akas_url="https://datasets.imdbws.com/title.akas.tsv.gz"
ratings_url="https://datasets.imdbws.com/title.ratings.tsv.gz"

In [4]:
import pandas as pd
import numpy as np

In [5]:
basics = pd.read_csv(basics_url, sep='\t', low_memory=False)
akas=pd.read_csv(akas_url, sep='\t', low_memory=False)
ratings=pd.read_csv(ratings_url, sep='\t', low_memory=False)

In [6]:
print(basics.head())

      tconst titleType            primaryTitle           originalTitle  \
0  tt0000001     short              Carmencita              Carmencita
1  tt0000002     short  Le clown et ses chiens  Le clown et ses chiens
2  tt0000003     short          Pauvre Pierrot          Pauvre Pierrot
3  tt0000004     short             Un bon bock             Un bon bock
4  tt0000005     short        Blacksmith Scene        Blacksmith Scene

  isAdult startYear endYear runtimeMinutes                    genres
0       0      1894      \N              1         Documentary,Short
1       0      1892      \N              5           Animation,Short
2       0      1892      \N              4  Animation,Comedy,Romance
3       0      1892      \N             12           Animation,Short
4       0      1893      \N              1              Comedy,Short

In [7]:
basics.replace({'\\N': np.nan}, inplace=True)

In [8]:
basics = basics.dropna(subset=['runtimeMinutes'])

In [9]:
basics = basics.dropna(subset=['genres'])

In [10]:
basics = basics[basics['titleType'] == 'movie']

In [11]:
# Keep records with startYear between 2000 and 2022
basics['startYear'] = basics['startYear'].astype(float)  # Convert to float or int if there are decimal values
basics = basics[(basics['startYear'] >= 2000) & (basics['startYear'] <= 2022)]

In [12]:
basics = basics[~basics['genres'].str.contains("Documentary")]

In [13]:
us_movies = akas[akas['region'] == 'US']['titleId']
basics = basics[basics['tconst'].isin(us_movies)]

In [14]:
us_movies_akas = akas[akas['region'] == 'US']

In [15]:
us_movies_akas = akas[akas['region'] == 'US'].copy()
us_movies_akas.replace({'\\N': np.nan}, inplace=True)

In [16]:
ratings.replace({'\\N': np.nan}, inplace=True)

In [17]:
us_ratings = ratings[ratings['tconst'].isin(us_movies_akas['titleId'])]

In [18]:
# Exclude movies that are included in the documentary category.
is_documentary = basics['genres'].str.contains('documentary',case=False)
basics = basics[~is_documentary]

In [19]:
# Filter the basics table down to only include the US by using the filter akas dataframe
keepers =basics['tconst'].isin(akas['titleId'])
keepers

34800       True
61110       True
67662       True
80547       True
86789       True
            ...
10313476    True
10313870    True
10314010    True
10314019    True
10314103    True
Name: tconst, Length: 87493, dtype: bool

In [20]:
basics = basics[keepers]
basics

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
34800,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance"
61110,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,NaN,70,Drama
67662,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama
80547,tt0082328,movie,Embodiment of Evil,Encarnação do Demônio,0,2008.0,NaN,94,Horror
86789,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005.0,NaN,100,"Comedy,Horror,Sci-Fi"
...,...,...,...,...,...,...,...,...,...
10313476,tt9914942,movie,Life Without Sara Amat,La vida sense la Sara Amat,0,2019.0,NaN,74,Drama
10313870,tt9915872,movie,The Last White Witch,Boku no kanojo wa mahoutsukai,0,2019.0,NaN,97,"Comedy,Drama,Fantasy"
10314010,tt9916170,movie,The Rehearsal,O Ensaio,0,2019.0,NaN,51,Drama
10314019,tt9916190,movie,Safeguard,Safeguard,0,2020.0,NaN,95,"Action,Adventure,Thriller"
10314103,tt9916362,movie,Coven,Akelarre,0,2020.0,NaN,92,"Drama,History"

In [21]:
#Filtering one dataframe based on another

In [22]:
import os

In [23]:
data_folder = 'Data'
os.makedirs(data_folder, exist_ok=True)

In [24]:
# Save 'basics' DataFrame to a CSV file
basics.to_csv(os.path.join(data_folder, 'basics.csv'), index=False)

# Save 'us_movies_akas' DataFrame to a CSV file
us_movies_akas.to_csv(os.path.join(data_folder, 'us_movies_akas.csv'), index=False)

# Save 'us_ratings' DataFrame to a CSV file
us_ratings.to_csv(os.path.join(data_folder, 'us_ratings.csv'), index=False)

In [25]:
current_directory = os.getcwd()
print(current_directory)

C:\Users\X487669\OneDrive - Old Mutual\Documents\GitHub\codemishka-codingdojo-repo

In [26]:
# Save 'basics' DataFrame as a compressed .csv.gz file
basics.to_csv(os.path.join(data_folder, 'basics.csv.gz'), index=False, compression="gzip")

# Save 'us_movies_akas' DataFrame as a compressed .csv.gz file
us_movies_akas.to_csv(os.path.join(data_folder, 'us_movies_akas.csv.gz'), index=False, compression="gzip")

# Save 'us_ratings' DataFrame as a compressed .csv.gz file
us_ratings.to_csv(os.path.join(data_folder, 'us_ratings.csv.gz'), index=False, compression="gzip")

In [27]:


# Replace the original DataFrames by reading the saved files
basics = pd.read_csv(os.path.join(data_folder, 'basics.csv.gz'), compression="gzip")
us_movies_akas = pd.read_csv(os.path.join(data_folder, 'us_movies_akas.csv.gz'), compression="gzip")
us_ratings = pd.read_csv(os.path.join(data_folder, 'us_ratings.csv.gz'), compression="gzip")

# Confirm that the data is correct
print(basics.head())  # Replace 'basics' with the DataFrame you want to confirm
print(us_movies_akas.head())  # Replace 'us_movies_akas' with the DataFrame you want to confirm
print(us_ratings.head())  # Replace 'us_ratings' with the DataFrame you want to confirm

      tconst titleType                                       primaryTitle  \
0  tt0035423     movie                                     Kate & Leopold
1  tt0062336     movie  The Tango of the Widower and Its Distorting Mi...
2  tt0069049     movie                         The Other Side of the Wind
3  tt0082328     movie                                 Embodiment of Evil
4  tt0088751     movie                                  The Naked Monster

                               originalTitle  isAdult  startYear  endYear  \
0                             Kate & Leopold        0     2001.0      NaN
1  El tango del viudo y su espejo deformante        0     2020.0      NaN
2                 The Other Side of the Wind        0     2018.0      NaN
3                      Encarnação do Demônio        0     2008.0      NaN
4                          The Naked Monster        0     2005.0      NaN

   runtimeMinutes                  genres
0             118  Comedy,Fantasy,Romance
1              70                   Drama
2             122                   Drama
3              94                  Horror
4             100    Comedy,Horror,Sci-Fi
     titleId  ordering                   title region language        types  \
0  tt0000001         6              Carmencita     US      NaN  imdbDisplay
1  tt0000002         7  The Clown and His Dogs     US      NaN          NaN
2  tt0000005        10        Blacksmith Scene     US      NaN  imdbDisplay
3  tt0000005         1     Blacksmithing Scene     US      NaN  alternative
4  tt0000005         6     Blacksmith Scene #1     US      NaN  alternative

              attributes  isOriginalTitle
0                    NaN              0.0
1  literal English title              0.0
2                    NaN              0.0
3                    NaN              0.0
4                    NaN              0.0
      tconst  averageRating  numVotes
0  tt0000001            5.7      2007
1  tt0000002            5.8       269
2  tt0000005            6.2      2692
3  tt0000006            5.0       182
4  tt0000007            5.4       841